<div *ngIf="hashState" class="row wrapper">
    <p *ngIf="HashState.UNKNOWN === hashState">{{ 'contracts.hash-action.description.unknown' | transloco }}</p>
    <p *ngIf="HashState.VALID === hashState">{{ 'contracts.hash-action.description.valid' | transloco }}</p>
    <p *ngIf="HashState.REVOKED === hashState">{{ 'contracts.hash-action.description.revoked' | transloco }}</p>

    <div class="d-inline-flex flex-row justify-content-between action-wrapper">
        <app-button
            (click)="createHash()"
            [disabled]="HashState.UNKNOWN !== hashState || isTransactionPending">{{ 'contracts.hash-action.action-panel.create-hash' | transloco }}
        </app-button>
        <app-button
            (click)="revokeHash()"
            [disabled]="HashState.VALID !== hashState || isTransactionPending">{{ 'contracts.hash-action.action-panel.revoke-hash' | transloco }}
        </app-button>
        <app-button
            (click)="revalidateHash()"
            [disabled]="HashState.REVOKED !== hashState || isTransactionPending">{{ 'contracts.hash-action.action-panel.revalidate-hash' | transloco }}
        </app-button>
        <app-button
            (click)="removeHash()"
            [disabled]="HashState.UNKNOWN === hashState || isTransactionPending">{{ 'contracts.hash-action.action-panel.remove-hash' | transloco }}
        </app-button>
    </div>
</div>
