<div class="row">
    <div class="d-flex flex-column col-12 col-lg-6">
        <div>
            <div
                [innerHTML]="'contracts.invalid-contract-address.welcome-text' | transloco:{onboardingCert4TrustLink}"></div>
        </div>

        <div *ngIf="isUnsupportedBrowser" class="wrapper error">
            <div [innerHTML]="'contracts.invalid-contract-address.unsupported-browser-description' | transloco"></div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-lg-end justify-content-center col-lg-6">
        <div *ngIf="!isUnsupportedBrowser" class="wrapper green">
            <div>{{ 'contracts.invalid-contract-address.description' | transloco }}</div>
            <form [formGroup]="formGroup">
                <label for="contact-address">{{ 'contracts.invalid-contract-address.label' | transloco }}</label>
                <input id="contact-address"
                       [formControl]="contractFC"
                       [placeholder]="'contracts.invalid-contract-address.placeholder' | transloco">
                <app-button [disabled]="contractFC.invalid"
                            (keyup)="$event.preventDefault()"
                            (click)="checkContract()">{{ 'contracts.invalid-contract-address.confirm' | transloco }}
                </app-button>
            </form>
        </div>
    </div>
</div>
