<div class="language-wrapper">
    @for (lang of availableLanguages; track lang) {
        <div class="language-item"
             [class.active]="isActiveLanguage(lang)"
             (keyup)="$event.preventDefault()"
             tabindex=""
             (click)="selectLanguage(lang)">
            {{ lang }}
        </div>
    }
</div>
