.language-wrapper {
    display: flex;
    margin-left: 30px;
}

.language-item {
    text-transform: uppercase;
    padding: 0 5px;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;

    &:first-of-type {
        margin-right: 10px;
    }

    &:hover {
        cursor: pointer;
        color: lighten(#0f4c81, 5%);
        transition: color, text-decoration-color .2s ease-in;
        text-decoration-color: lighten(#0f4c81, 5%);
        -webkit-text-decoration-color: lighten(#0f4c81, 5%);
        -moz-text-decoration-color: lighten(#0f4c81, 5%);
    }

    &.active {
        font-weight: 600;
        color: #0f4c81;
        text-decoration: underline;
    }
}
