$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$link-hover-decoration: none;

$link-color: #3f51b5;
$link-hover-color: currentColor;

@mixin input-label() {
    font-family: Lato, sans-serif;
    line-height: 1.43;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #091b2b;
    opacity: 0.4;
    margin-bottom: 8px;
}

@mixin input() {
    width: 100%;
    height: 48px;
    line-height: 36px;
    padding: 0 17px;
    border-radius: 4px;
    border: solid 2px #9ed2ff;
    background: #fff;

    &::placeholder {
        opacity: 0.2;
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #091b2b;
        transform: translate(-33px, 0px);
        text-align: center;
    }

    &:-moz-placeholder { /* Firefox 18- */
        height: 60px;
        line-height: 60px;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        height: 60px;
        line-height: 60px;
    }
}

@mixin wrapper() {
    padding: 24px;
    background: #ffffff;
    border: 1px solid #9ed1ff;
    border-radius: 8px;
    box-shadow: 0 10px 24px -8px #1569b333;

    &.green {
        border: 3px solid #c0d725;
    }

    &.warning {
        border: solid 3px #ffcc00;
    }

    &.error {
        border: 3px solid #ff5e33;
    }

    &:not(:last-of-type) {
        margin-bottom: 24px;
    }
}
