@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles-reset";
@import "styles-variables";

@font-face {
    font-family: 'Titillium';
    src: url('~src/assets/fonts/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('~src/assets/fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('~src/assets/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('~src/assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('~src/assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

// default for mobile devices
html {
    font-size: 90%;
    position: relative;
    font-family: Titillium, sans-serif;
    min-height: calc(100vh - 125px);
}

body {
    font-family: Titillium, sans-serif;
    min-width: 360px;
}

// default for desktop browser
@media (min-width: map-get($grid-breakpoints, "md")) {

    html {
        font-size: 100%;
        position: relative;
        min-height: calc(100vh - 125px);
    }

    body {
        color: #333;
        background-color: #ffffff;
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
        footer .contact-wrapper {
            display: flex;
            justify-content: space-between;

            p {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        a,
        a:visited {
            /* Safari */
            transition: color 0.5s;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            /* Safari */
            transition: color 0.5s;
            text-decoration: none;
        }

        footer .contact-wrapper {
            display: block;

            p {
                margin-bottom: 15px;
            }
        }
    }

    .mat-mdc-snack-bar-container {
        &.successSnackBar {
            .mdc-snackbar__surface {
                background-color: #1e873a;
            }
        }

        &.warningSnackBar {
            .mdc-snackbar__surface {
                background-color: #87841e;
            }
        }

        &.errorSnackBar {
            .mdc-snackbar__surface {
                background-color: #ff5e33;
            }
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .mat-option {
        font-size: 1.0rem;
        line-height: 35px !important;
        height: 35px !important;
    }

    .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #CDD0D4;
    }
    .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #CDD0D4;
        opacity: 1;
    }
    .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #CDD0D4;
        opacity: 1;
    }
    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #CDD0D4;
    }
    .form-control::-ms-input-placeholder { /* Microsoft Edge */
        color: #CDD0D4;
    }

    .form-control::placeholder { /* Most modern browsers support this now. */
        color: #CDD0D4;
    }

    .button-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    h3 {
        font-weight: bold;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .mat-select-panel {
            max-width: none !important;
        }
    }

    .section-title {
        margin-bottom: 0;
    }

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        .content-padding {
            padding-left: 0;
            padding-right: 0;
        }
    }

}

.text-section {
    margin-top: 50px;

    h4 {
        font-size: 1.2rem;
        font-weight: 800;
    }

    .listed-text {
        margin-bottom: 1rem;
    }
}

.icon {
    &.copy {
        svg {
            width: 9px;
            height: 14px;
        }
    }
}

.mat-mdc-checkbox label {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    font-size: 1.3rem;
    letter-spacing: normal;
    color: #091b2b;
}

span.link {
    color: #0d6efd;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__ripple,
.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
    border-color: #c0d725 !important;
    background: #c0d725 !important;
}

.mat-ripple-element {
    background: rgba(192, 215, 37, 0.05) !important;
}

@media print {
    html, body {
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
}

h1 {
    font-family: Titillium, sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #091b2b;
    margin-bottom: 40px;
}
