button {
  width: auto;
  height: 46px;
  border-radius: 6px;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #091b2b;
  position: relative;
  text-transform: none;
  min-width: 224px;
  box-shadow: 0 10px 24px -8px rgba(21, 96, 153, 0.2);
  background-color: #c0d725;
  margin-top: 23px;

  &:hover {
    background-color: lighten(#c0d725, 5%);
  }

  &.secondary {
    border: solid 1px #091b2b;
    background-color: #FFF;
    color: #091b2b;
    box-shadow: none;

    &:focus {
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    }

    &:active {
      box-shadow: none;
    }

    &:hover {
      background-color: #FAFAFA;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media (max-width: 1024px) {
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}

