<div class="bg-grey-white">
    <div class="modal-inner">

        <div mat-dialog-content>
            <p *ngIf="data.type === 'impressum'"
               [innerHTML]="'info-modal.content.imprint' | transloco"
               class="description"></p>
            <p *ngIf="data.type === 'daten'" [innerHTML]="'info-modal.content.data-protection' | transloco"
               class="description"></p>
        </div>

        <div class="action" mat-dialog-actions>
            <app-button (click)="onCloseClick()" onkeydown="onCloseClick()">{{ 'info-modal.close-button' | transloco }}</app-button>
        </div>
    </div>
</div>


