.bg-grey-white {
  position: relative;
  overflow: hidden;
  background: #ebf6ff;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  top: -24px;
  left: -24px;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 99999px;
    height: 99999px;
    transform-origin: 0 0;
    pointer-events: none;
    transform: rotate(-30deg) translate(-50%, 0);
    background-color: #ffffff;
  }
}

.modal-inner {
  position: relative;
  padding: 48px 24px 0 24px;
}

h1 {
  font-family: Titillium, sans-serif;
  font-size: 1.77rem; // ≙ 32px;
  text-align: center;
  margin: 0;
}

mat-dialog-content {
  padding: 30px;
}

.action {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.action.mat-dialog-actions {
  margin-bottom: 0;
}

h3 {
  font-family: Titillium, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 2.17;
  letter-spacing: normal;
  color: #091b2b;
  margin-bottom: 16px;
  text-align: center;
}

.max-width {
  max-width: 100%;
  margin: auto;
}

@media (min-width: 1025px) {
  .max-width {
    max-width: 60%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 16px;
  }
}
