.button-wrapper {
  width: 250px;

  app-button {
    flex: 1;
  }
}

p {
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  color: #091b2b;
}

.row {
  .col-6 {
    padding: 0;
  }

  .title-wrapper {
    margin-top: 80px;
  }

  mat-icon {
    height: 420px;
    width: 450px;
  }
}

mat-grid-tile {
  background: #ffffff;
}

mat-grid-tile:hover {
  background: lightblue;
}
