<div class="container">
    <div class="row">
        <div class="col-6">

            <div class="title-wrapper">
                <app-title>{{ 'not-found.title' | transloco }}</app-title>
            </div>

            <p>{{ 'not-found.description' | transloco }}</p>

            <div class="button-wrapper">
                <app-button routerLink="/contracts">{{ 'not-found.button-caption' | transloco }}</app-button>
            </div>

        </div>

        <div class="col-6">
            <mat-icon svgIcon="not-found"></mat-icon>
        </div>
    </div>
</div>
