label {
    font-family: Lato, sans-serif;
    line-height: 1.43;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #091b2b;
    opacity: 0.4;
    margin-bottom: 8px;
}

.file-upload-result {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    font-family: monospace;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #091b2b;
    width: 100%;
    border-radius: 4px;

    mat-icon {
        position: absolute;
        left: 15px;
        top: 38px;
        width: 1.4rem;
        height: 1.4rem;
    }
}

.hash-value-wrapper {
    margin-top: 24px;
}

.hash-value {
    font-family: monospace, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #091b2b;
    height: 48px;
    padding: 12px 15px;
    border: solid 2px #9ed2ff;
    background: #fff;
    border-radius: 4px;
}
