<form *ngIf="metamaskState?.isConnected" [formGroup]="hashForm" class="upload-form">
    <input #uploader (change)="hashFile($event)"
           hidden tabindex="-1" type="file"/>

    <div *ngIf="fileName" class="file-upload-result">
        <label for="fileName">{{ 'contracts.document-upload.file-chooser.file-name.caption' | transloco }}</label>
        <mat-icon svgIcon="pdf"></mat-icon>
        <app-input id="fileName"
                   [value]="fileName"
                   [label]="'contracts.document-upload.file-chooser.file-name.label' | transloco"
                   paddingLeft="true"
                   [placeholder]="'contracts.document-upload.file-chooser.file-name.placeholder' | transloco"
                   readonly="true"></app-input>
        <div *ngIf="hashFC.value" class="hash-value-wrapper">
            <label for="hash-value">{{ 'contracts.document-upload.file-chooser.hash-value.label' | transloco }}</label>
            <div class="hash-value">
                <app-contract-address id="hash-value" [hash]="hashFC.value"></app-contract-address>
            </div>
        </div>
    </div>

    <app-button
        [disabled]="!metamaskState.isConnected || !metamaskState.isAccountValid || metamaskState.isTransactionPending"
        [secondary]="!!hashFC.value"
        (keyup)="$event.preventDefault()"
        (click)="uploader.click()">
        <span>{{ 'contracts.document-upload.file-chooser.button-caption' | transloco }}</span>
    </app-button>
</form>
