<ng-container *ngIf="isContractAddressValid; else invalidContractAddressTemplate">
    <div class="row d-flex flex-row justify-content-between">
        <div class="col-12 col-lg-6">
            <app-description></app-description>
            <app-document-upload></app-document-upload>
        </div>
        <div class="col-12 col-lg-5">
            <app-account-data></app-account-data>
        </div>
    </div>
    <div class="row">
        <app-hash-action></app-hash-action>
    </div>
</ng-container>

<ng-template #invalidContractAddressTemplate>
    <app-invalid-contract-form></app-invalid-contract-form>
</ng-template>
