<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="header">
                    <div class="header__brand__cert4trust"></div>

                    <div class="header-part right">
                        <div class="header-link">
                            <a [href]="onboardingCert4TrustLink"
                               rel="nofollow noopener noreferrer"
                               target="_blank">
                                {{ 'header.links.home-onboarding' | transloco }}
                            </a>
                        </div>

                        <div class="header-link">
                            <a [href]="checkCert4TrustLink"
                               rel="nofollow noopener noreferrer"
                               target="_blank">
                                {{ 'header.links.home-check' | transloco }}
                            </a>
                        </div>

                        <div class="language-selector">
                            <app-language-selector></app-language-selector>
                        </div>
                    </div>

                </header>
            </div>
        </div>
    </div>

    <div class="container bg-mixed" id="content-pane-main">
        <router-outlet></router-outlet>
    </div>

    <footer class="page-footer font-small mdb-color">
        <div class="container text-center text-lg-start">
            <div class="row d-flex flex-row justify-content-between align-items-center">
                <div class="col-lg-6 col-sm-12 footer-left">
                    {{ 'footer.company-mark' | transloco }}
                </div>
                <div class="col-lg-6 col-sm-12 links">
                    <ul>
                        <li>
                            <a [href]="cert4TrustLink"
                               target="_blank"
                               rel="nofollow noopener noreferrer">
                                {{ 'footer.links.home-website' | transloco }}
                            </a>
                        </li>
                        <li class="dot-divider">
                            &#8226;
                        </li>
                        <li>
                            <a (click)="openInfoDialog($event, 'impressum')" href=""
                               rel="nofollow">{{ 'footer.links.imprint' | transloco }}</a>
                        </li>
                        <li class="dot-divider">
                            &#8226;
                        </li>
                        <li>
                            <a (click)="openInfoDialog($event, 'daten')" href=""
                               rel="nofollow">{{ 'footer.links.data-protection' | transloco }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
