#content-pane-main {
    min-height: calc(100vh - 188px);
    padding-bottom: 150px;
}

.header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;

    a {
        font-weight: bold;
        color: #000;

        &:visited {
            color: #000;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.header-part {
    &.right {
        display: flex;
    }
}

.header-link:first-of-type {
    margin-right: 12px;
}

//noinspection ALL
.header__brand__cert4trust {
    padding-top: 60px;
    padding-bottom: 20px;
    width: 120px;
    height: 40px;
    background-image: url("/assets/img/logo_150x500.png");
    background-repeat: no-repeat;
    background-position: 0;
    float: left;
    background-size: 100%;
}

.page-footer {
    @media (max-width: 768px) {
        ul {
            display: flex;
            flex-direction: column;
        }
    }

    border-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    background-color: #0f4c81;
    position: relative;

    .container {
        min-height: 68px;
    }

    a {
        font-family: Titillium, sans-serif;
        color: #fff;
        font-weight: normal;
        font-size: 18px;

        &.bold {
            font-weight: bold;
        }
    }

    .row {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 68px;
    }

    .row:after {
        content: '';
        min-height: inherit;
        font-size: 0;
    }

    .footer-left {
        font-family: Titillium, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: white;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
}

.links {
    ul {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        list-style: none;
        padding: 0;

        li {
            text-align: center;
            color: #fff;
            padding-right: 0;
            padding-left: 9px;

            &.dot-divider {
                font-family: Helvetica, sans-serif;
                font-size: 18px;
                display: inline-flex;
                align-items: center;
            }
        }
    }
}

div.background {
    position: relative;
    overflow: hidden;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Lato, sans-serif;
    font-size: 1.3rem; // ≙ 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #091b2b;

    a {
        color: #091b2b;
        font-weight: bold;
        text-decoration: underline;

    }

    .fa-external-link-alt {
        font-size: 1.1rem;
        margin-left: 5px;
        margin-bottom: 1px;
    }
}

.bg-mixed {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 99999px;
        height: 99999px;
        left: 50%;
        transform-origin: 0 0;
        pointer-events: none;
        top: 33%;
        transform: rotate(-30deg) translate(-50%, -100%);
        background-color: #ebf6ff;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 85%;
        top: 100%;
        width: 99999px;
        height: 99999px;
        transform-origin: 0 0;
        pointer-events: none;
        transform: rotate(-30deg) translate(-50%, 0);
        background-color: #1569b3;
        z-index: -1;
    }
}

@media (max-width: 991px) {
    .page-footer {
        padding: 20px 0;
    }
    .links {
        ul {
            flex-direction: column;
            padding: 0;

            li {
                padding-left: 0;
                padding-top: 8px;

                &.dot-divider {
                    display: none;
                }
            }
        }
    }
}

@media print {
    .header,
    .links,
    .background {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
