.title-wrapper {
  font-family: Titillium, sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #091b2b;
  margin-bottom: 40px;
}
