@mixin resized-mat-icon-buttons($sizePx) {
  width: $sizePx !important;
  height: $sizePx !important;
  line-height: calc(#{$sizePx} - 2px) !important;
}

.contract-address-container {
  display: flex;

  input {
    width: 1px;
    height: 1px;
    border: 0 none;
  }

  .contract-address {

    &.hash-value {
      font-family: monospace;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #091b2b;

      &.justNumbers {
        font-family: Lato, sans-serif;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }

  .icons {
    margin-left: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .icon,
    .mdc-icon-button {
      display: inline;
      transform: translate(0px, -1px);
      @include resized-mat-icon-buttons(20px);

      .mat-icon {
        @include resized-mat-icon-buttons(14px);
      }

      &.copy {
        mat-icon {
          @include resized-mat-icon-buttons(11px);
          transform: translate(-6px, -13px);
        }
      }
    }
  }
}



