<div [ngClass]="{'long': isHashSha3()}" class="contract-address-container">
    <div [ngClass]="{'hash-value': isCopyIconVisible()}" class="contract-address wrapper">
        {{ getHashStart() }}<br/>
        {{ getHashEnd() }}
    </div>
    <input #hashInput [value]="hash"/>
    <div class="icons">
        @if (isCopyIconVisible()) {
            <div (click)="$event.stopPropagation()"
                 (keyup)="$event.preventDefault()"
                 tabindex=""
                 class="icon copy">
                <button mat-icon-button (click)="copyToClipboard()" aria-label="copy"
                        [matTooltip]="'tooltip.copy-to-clipboard' | transloco">
                    <mat-icon svgIcon="file_copy"></mat-icon>
                </button>
            </div>
        }
    </div>
</div>
