@import "src/styles/styles-variables";

.account-data-box {
    width: 100%;
    min-height: 245px;
    text-align: left;
    position: relative;
    @include wrapper();
}

.details {
    &:not(:last-of-type) {
        margin-bottom: 12px;
    }

    .label {
        font-weight: 600;
        color: #9ed1ff;
    }

    &.validation {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        .label {
            margin-right: 6px;
        }
    }
}
