<div class="account-data-box green" [ngClass]="{'error': !metamask, 'warning': !isMetamaskConnected}">
    <h4>{{ 'contracts.account-data.title' | transloco }}</h4>

    <ng-container
        [ngTemplateOutlet]="metamask && isMetamaskConnected ? metamaskConnected : metamask && !isMetamaskConnected ? metamaskDisconnected : metamaskInstallationInfo"></ng-container>
</div>

<ng-template #metamaskConnected>
    <div class="details account">
        <div class="label">{{ 'contracts.account-data.account' | transloco }}</div>
        <div class="value">{{ account }}</div>
    </div>
    <div class="details balance">
        <div class="label">{{ 'contracts.account-data.balance' | transloco }}</div>
        <div class="value">{{ balance }}</div>
    </div>
    <div class="details network">
        <div class="label">{{ 'contracts.account-data.network' | transloco }}</div>
        <div class="value">{{ network }}</div>
    </div>
    <div class="details validation">
        <div class="label">{{ 'contracts.account-data.validation' | transloco }}</div>
        <div class="value"><mat-icon [svgIcon]="isValid ? 'valid' : 'invalid'"></mat-icon></div>
    </div>
</ng-template>

<ng-template #metamaskDisconnected>
    <div [innerHTML]="'contracts.account-data.metamask-disconnected' | transloco"></div>
</ng-template>

<ng-template #metamaskInstallationInfo>
    <div [innerHTML]="'contracts.account-data.metamask-installation'| transloco"></div>
</ng-template>
